<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product
		Id="*" Name="Example Desktop Program"
		Language="1033" Version="1.0.0.0"
		Manufacturer="Minh-Triet Nguyen-Ta"
		UpgradeCode="f9ed151f-d2c0-454e-81ef-c71c1f9a710a">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes" />

		<Feature Id="ProductFeature" Title="WiXExample" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="ExampleDesktop" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<Component Id="ExampleDesktop.exe" Guid="568C07BF-F2C3-44FC-9DC2-5462C4AE5403" >
				<File
					Id="ExampleDesktop.exe" Name="ExampleDesktop.exe"
					Source="$(var.ExampleDesktop.TargetDir)ExampleDesktop.exe"
				></File>
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>
